# Ignore dock, test1, and vina_split_test folders

test1/
vina_split_test/
dock/cache/
dock/cache/progress_cache.txt
dock-6-25-2025/
dock-6-25-2025.zip
dock/cache/
dock.7z
pdbqt_backups/
first-top-13-bet-ligands-7-3-2025/
results.zip
top_hits_3K3K-6.4to-10.zip
top13-results-6-26-2025.zip
results-6-17-2025-PYR1sweep.zip
dock/ligands1/
dock/ligands2/
dock/ligands3/
dock/ligands0/
top_hits_PYR1/
top_hits_PYR1_single_pose/
vina_split_test/
dock/what/
dock/results/
dock/results-7-8-2025.zip
dock/results-7-14-2025-run2trial1.zip
dock/results-7-17-2025-run2trial2.zip
dock/results-7-20-2025-run2trial3.zip
dock/results-7-24-2025-run2trial4.zip
dock/results-11-19-2025.zip
dock/results-11-22-2025.zip
dock/log/
dock/cache/
9-25-2025_all_of_the_files
dock/ligands/
dock/cache/ligandNames.txt
dock/cache/progress_cache.txt
dock/cache/proteinNames.txt