# Ignore dock, test1, and vina_split_test folders
dock/
test1/
vina_split_test/
dock/cache/
dock/cache/progress_cache.txt
dock-6-25-2025/
dock-6-25-2025.zip
dock/cache/
dock.7z
pdbqt_backups/
first-top-13-bet-ligands-7-3-2025/
results.zip
top_hits_3K3K-6.4to-10.zip
top13-results-6-26-2025.zip
results-6-17-2025-PYR1sweep.zip
dock/ligands1/
dock/ligands2/
dock/ligands3/
dock/ligands0/
top_hits_PYR1/
top_hits_PYR1_single_pose/